:host {
  .button-100w > .p-button {
    width: 100% !important;
  }
}

.inventory-panels {
  display: flex;
  gap: 0.5rem;
  flex-direction: row; /* desktop padrão */
}

@media (max-width: 768px) {
  .inventory-panels {
    flex-direction: column; /* celular: um embaixo do outro */
  }
}
